/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Fira Sans', sans-serif;
}



/* navigation */

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%); 
    
}
    

 
.navbar-brand img{
    height: 40px;
    padding-left: 30px;

}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;

}
.navbar{
    background:#fff;

}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}




.home{
    background-image: url('images/banner1.jpg');
    /* background-color: aqua; */
    /* background: linear-gradient(rgba(0,0,0,0.2)),url('images/banner1.jpg')no-repeat; */
    background-size: 100% 100%;
    width: 100%;
    padding: 180px 0;
}


/* =  Appointment section
/*-------------------------------------------------*/
section#appointment-section {
    padding: 100px 0;
    background: #ffffff;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  section#appointment-section .title-section {
    margin-bottom: 40px;
  }
  section#appointment-section .appointment-box form.appointment-form {
    text-align: left;
    padding-right: 50px;
  }
  section#appointment-section .appointment-box form.appointment-form input[type="text"],
  section#appointment-section .appointment-box form.appointment-form textarea {
    display: block;
    width: 100%;
    padding: 12px 20px;
    background: #fafafa;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin: 0 0 20px;
    color: #999999;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    outline: none;
  }
  section#appointment-section .appointment-box form.appointment-form textarea {
    height: 120px;
  }
  section#appointment-section .appointment-box form.appointment-form input[type="submit"] {
    background: transparent;
    color: #3498db;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 1px solid #3498db;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 12px 25px 10px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin: 0;
  }
  section#appointment-section .appointment-box form.appointment-form input[type="submit"]:hover {
    background: #3498db;
    color: #ffffff;
  }
  section#appointment-section:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background: url("images/banner1.jpg") center center;
    /* background: url('../upload/ban2.jpg') center center; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  /*-------------------------------------------------*/

 /* doctor-section */
 section.doctor img{
     width: 130px;
     height: 130px;
     border-radius: 50%;
 }
hr{
    width: 10%;
    border-width: 4px;
    background-color: brown;
    margin: auto;
    margin-bottom: 80px;
    
}

section.doctor .card{
    -webkit-box-shadow: 3px 2px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow:3px 2px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 24px -6px rgba(0,0,0,0.75);
}

.fas{
    color: rgb(55, 79, 198);
    font-size: 40px;
    padding-bottom: 20px;
}


.contact{
    background-color: rgb(123, 143, 243);
    background-size: 100% 100%;
}
